html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container1 {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.list {
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #D0D0D0;
  position: fixed;
}
.notlist{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}
.notlist2{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  background-color: gray;
}
.main{
  height: 100vh;
  flex:1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.content{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;
}
.user{
  background-color: bisque;
  width: 380px;
}
.title{
  width: 100%;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 35px;
  font-family: 'Patrick Hand', cursive;
  cursor:pointer;
  position: relative;
}
.title-transition{
  transition: opacity 0.1s ease;
}
.bear{
  width: 220px;
  height: 50px ;
  position: absolute;
  top: 20px;
  left: 14px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease transform 0.3s ease;
}
.bear:hover{
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.05);
}
.title-visible {
  opacity: 1;
}
.title-hidden{
  opacity: 0;
}
.icon-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.icon-visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.icons{
  width: 100%;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon{
  width: 220px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.iconLast{
  width: 220px;
  display: flex;
  align-items: center;
  margin-top: 250px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.iconLast:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.05);
}
.icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.05);
}

.icon-text{
  font-size: 20px;
  margin-left: 10px;
}
.modal1 {
  width: 250px;
  position: fixed;
  top: 385px;
  left: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}
.modal-content1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.modal-content1:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
.story-list{
  width: 100%;
  height: 130px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.story{
  width: 65px;
  border-radius: 50%;
  height: 65px;
  background-color: white;
  cursor: pointer;
}
.search-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 65px;
  height: 100vh;
  width: 500px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-200%);
  transition: transform 0.5s ease-in-out;
  z-index: 500;
}
.search-modal.show {
  transform: translateX(0);
}
.search-header{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.input-wrapper {
  position: relative;
}
.clear-icon {
  position: absolute;
  right: 10px;
  top: 67%; 
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}
.searching{
  font-size: 16px;
  width: 450px;
  height: 35px;
  padding-left: 20px;
  padding-top: 4px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
  line-height: 35px;
  align-items: center;
  outline: none;
}
.placeholder-color {
  color: #888;
}
.message-list{
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.friends{
  border: 1px solid black;
  flex: 1;
  width: 100%;
}
.messagebox{
  flex:1;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.friend-user{
  width: 100%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.message{
  width: 100%;
  flex:1;
  background-color: aqua;
}
.bell-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.bell-head{
  width: 100%;
  border: 1px black solid;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
}
.notification{
  width: 100%;
  background-color: aqua;
  flex:1;
}
.modal-dialog-centered{
  max-width: 600px;
}
.modal-header{
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
}
.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.image-upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.file-input {
  display: none;
}
.file-label {
  cursor: pointer;
}
.post-container{
  width: 1000px;
  height: 635px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.post-header{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
.post{
  display: flex;

}
.picture{
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 0 0 0 5px;
}
.text {
  width: 400px;
  height: 600px;
  border: none;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.type-in {
  height: 550px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.submit{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex: 1;
}